
:root{
  --editor_header_height:35px;
  --editor_header_button_height : 30px;
}

.editor_container{
  flex:1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y:hidden;
}

.editor{
  height: 100%;
  width: 100%;
  overflow-x:hidden;
  overflow-y: hidden;
  flex:1;
}

.editor_playmode_cursor{
  background-color: var(--purple1);
}