
textarea{
  resize: none;
  border: 0;
  outline: none;
  word-break: break-all;
  font-family: Consolas, Menlo, Monaco, -apple-system, BlinkMacSystemFont, "Segoe UI", Meiryo, monospace;
}

input {
  border: 0;
  outline: none;
  font-family: Consolas, Menlo, Monaco, -apple-system, BlinkMacSystemFont, "Segoe UI", Meiryo, monospace;
}

select{
  background-color: var(--select_background_color);
  color:var(--select_color);
  border-color: var(--select_border_color);
}
option{
  background-color: var(--option_background_color);
  color: var(--option_color);
}

::selection {
  background: var(--selected_text_background_color)
}

.app_container {
  height: 100vh;
  width: 100vw;
  user-select: none;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
}


.gutter_horizontal{
  width: 0.25%;
  min-width: 4px;

  background-color: var(--horizontal_gutter_color);
}

.gutter_vertical{
  width: 100%;
  height: 0.25%;
  min-height: 4px;

  background-color: var(--vertical_gutter_color);
}

.interpreter_container{
  width: 50%;
  display: flex;
  flex-direction: column;
}

