/* Based on Sublime Text's mymonokai theme */

.cm-s-mymonokai.CodeMirror { background: var(--editor_backgronud_color); color: var(--editor_color); }
.cm-s-mymonokai div.CodeMirror-selected { background: var(--selected_text_background_color); }
.cm-s-mymonokai .CodeMirror-line::selection, .cm-s-mymonokai .CodeMirror-line > span::selection, .cm-s-mymonokai .CodeMirror-line > span > span::selection { background: rgba(73, 72, 62, .99); }
.cm-s-mymonokai .CodeMirror-line::-moz-selection, .cm-s-mymonokai .CodeMirror-line > span::-moz-selection, .cm-s-mymonokai .CodeMirror-line > span > span::-moz-selection { background: rgba(73, 72, 62, .99); }
.cm-s-mymonokai .CodeMirror-gutters {  background: #2F2D32; border-right: 0px; }
.cm-s-mymonokai .CodeMirror-guttermarker { color: white; }
.cm-s-mymonokai .CodeMirror-guttermarker-subtle { color: #d0d0d0; }
.cm-s-mymonokai .CodeMirror-linenumber { color: var(--editor_linenumbers_color); }
.cm-s-mymonokai .CodeMirror-cursor { border-left: 1px solid var(--editor_cursor_color); }

.cm-s-mymonokai span.cm-lb { color: #9e9386; }
.cm-s-mymonokai span.cm-rb { color: #fd971f; }
.cm-s-mymonokai span.cm-mi { color: #f92672; }
.cm-s-mymonokai span.cm-md { color: #f92672; }
.cm-s-mymonokai span.cm-pi { color: #66d9ef; }
.cm-s-mymonokai span.cm-pd { color: #66d9ef; }
.cm-s-mymonokai span.cm-put { color: #a6e22e; }
.cm-s-mymonokai span.cm-get { color: #ae81ff; }

.cm-s-mymonokai span.cm-comment { color: #75715e; }

.cm-s-mymonokai .CodeMirror-activeline-background { background: #373831; }
.cm-s-mymonokai .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}

.editor_playmode .CodeMirror-selected{
  background: var(--purple1) !important;
}