

.play_button {
  height: 100%;
  position: relative;
}

.play_button:before{
  content: "";
  display: block;
  padding-top: 100%;
}

.play_button svg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;

  height: 83%;
  width: 83%;
  fill: #279b27;
  stroke: #279b27;
  stroke-width: 5;
  stroke-linejoin: round;
  transition: all 0.3s;
}

.play_button svg:hover {
  cursor: pointer;
  fill: #228722;
  stroke: #228722;
  transform: scale(1.2, 1.2);
}
