

:root{
  --purple1:#AD1457;
  --purple2:#271c22;

  --black1:#1f1f20;

  --green1: #27533A;
  --green2:#3a6d3c;
  
  --white1:#fffefa;
  --white2:#FFECB3;

  --blue1:#437683;

  --scrollbar_background_color: #22191d;
  --scrollbar_thumb_color:var(--green2);

  --memory_view_background_color:var(--black1);
  --memory_viwe_pointer_background_color:var(--purple1);
  --memory_view_border_color:var(--green1);
  --memory_view_index_color: var(--blue1);
  --memory_view_value_color: var(--white2);

  --input_buffer_header_background_color: var(--green1);
  --input_buffer_header_color: var(--white2);
  --input_buffer_background_color: var(--green2);
  --input_buffer_color: var(--white1);

  --control_background_color: var(--green1);
  --control_color:var(--white2);
  
  --control_play_button_color:#66BB6A;
  --control_pause_button_color:#7AC0FF;
  --control_stop_button_color:#F38B76;
  --control_restart_button_color:var(--white1);
  --control_step_button_color:var(--white1);
  --control_log_clear_button_color:var(--white1);

  --control_button_disabled_color:var(--green2);

  --console_log_background_color:var(--black1);
  --console_log_color:var(--white1);

  --console_input_background_color:var(--black1);
  --console_input_color:var(--white1);
  --console_input_header_background_color:var(--green1);

  --editor_header_background_color:var(--green1);
  --editor_header_color:var(--white2);

  --editor_linenumbers_background_color : var(--black1);
  --editor_linenumbers_color: var(--blue1);
  --editor_cursor_color:var(--white2);
  --editor_backgronud_color:var(--black1);
  --editor_color:var(--white1);
  --editor_selected_color:var(--purple1);

  --horizontal_gutter_color:var(--green1);
  --vertical_gutter_color:var(--green1);

  --sidebar_background_color:var(--green1);

  --brain_icon_color:var(--white2);
}
