
.console_log_container{
  width: 100%;
  flex: 1;
  cursor: default;
}

.console_log{
  height: 100%;
  width: 100%;
  cursor: default;
}

.input_buffer_view_container{
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  font-size: medium;
}

.input_buffer_view_header{
  height: 100%;
  width: fit-content;
  padding: 2px;
}

.input_buffer_view{
  height: 100%;
  width: 100%;
  flex:1;
  font-size: small;
  cursor: default;
    
  background-color: darkcyan;
}